{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}ID - CAM{% endblock %}</title>
    <link rel="icon" href="{% static 'images\qq.png' %}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href=" {% static 'css/style.css' %}">

</head>
<body style="background-color: #3b4d61">

<div class="site-wrap" >
    <div style="background-color: #3b4d61">
        <header class="site-navbar" role="banner" >
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <!--<span class="icon icon-search2"></span>-->
                                <!--<input type="text" class="form-control border-0" placeholder="Search">-->
                            </form>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="{% url 'main:index' %}" class="js-logo-clone" ;>ID - CAM</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <!-- <li><a href="#"><span class="icon icon-person"></span></a></li>
                                     <li><a href="#"><span class="icon icon-heart-o"></span></a></li>-->
                                    <li>
                                        <a href="{% url 'cart:cart_detail' %}" class="site-cart">
                                            <span class="material-icons">shopping_cart </span>
                                            <span class="count">
                                            {% with total_items=cart|length %}
                                                {% if cart|length > 0 %}
                                                    {{ total_items }}
                                                    <a href="{% url "cart:cart_detail" %}"></a>
                                                {% else %}

                                                {% endif %}
                                            {% endwith %}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#"
                                                                                    class="site-menu-toggle js-menu-toggle"><span
                                            class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li class="has-children">

                        </li>
                        <!-- <li class="has-children">
                             <a>About</a>
                             <ul class="dropdown">
                                 <li><a href="#">Menu One</a></li>
                                 <li><a href="#">Menu Two</a></li>
                                 <li><a href="#">Menu Three</a></li>
                             </ul>
                         </li>
                         <li class="active"><a>Shop</a></li>
                         <li><a href="#">Catalogue</a></li>
                         <li><a href="#">New Arrivals</a></li>
                        <li><a href="contact.html">Contact</a></li>-->
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url 'main:index' %}">Bosh sahifa</a> <span
                        class="mx-2 mb-0">/</span>
                    <strong
                            class="text-black">Do'kon</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-md-9 order-2">

                    <div class="row">
                        <div class="col-md-12 mb-5">
                            <div class="float-md-left mb-4"><h2 class="text-black h5">
                                {% if category %}{{ category.name }}{% else %}Barchasi{% endif %}</h2></div>
                            <div class="d-flex">
                                <div class="dropdown mr-1 ml-md-auto">

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                        <a class="dropdown-item" href="#">Men</a>
                                        <a class="dropdown-item" href="#">Women</a>
                                        <a class="dropdown-item" href="#">Children</a>
                                    </div>
                                </div>
                                <div class="btn-group">

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                        <a class="dropdown-item" href="#">Relevance</a>
                                        <a class="dropdown-item" href="#">Name, A to Z</a>
                                        <a class="dropdown-item" href="#">Name, Z to A</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Price, low to high</a>
                                        <a class="dropdown-item" href="#">Price, high to low</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-5" style="background-color: #3b4d61">
                        <tr>
                            {% for product in products %}
                                <div class="col-sm-6 col-lg-4 mb-4 col" data-aos="fade-up">
                                    <div style="background-color: #3b4d61" class="block-4 text-center border">

                                        <figure style="background-color: #3b4d61; " class="block-2-image">
                                            <div><a href="{{ product.get_absolute_url }}"><img
                                                    src="
                                                        {% if product.image %}{{ product.image.url }}{% endif %}"
                                                    alt="Image placeholder"
                                                    class="img-fluid"></a></div>
                                        </figure>
                                        <div style="block-size: 140px" class="block-4-text p-4">

                                            <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                            <br>
                                            <p class="text-primary font-weight-bold">{{ product.price }} 000 sum</p>
                                            <!-- <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {{ product_cart_product_form }}
                                                {% csrf_token %}
                                                <input class="buy-now btn btn-sm btn-primary" type="submit" formaction=""
                                                       value="Savatga">
                                            </form>-->


                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </tr>

                    </div>

                    <div class="row" data-aos="fade-up">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <!--<ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>-->
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 order-1 mb-5 mb-md-0">
                    <div class="border p-4 rounded mb-4">
                        <h3 class="mb-3 h4 text-uppercase text-black d-block">Maxsulotlar</h3>
                        <ul class="list-unstyled mb-0 text-black">
<!--
                            {% for category in categories %}
                                <div class="dropdown children" style="max-width: 100px">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown">
                                        {{ category.name }}
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>

                                    </ul>
                                </div>
                                <br>

                            {% endfor %}
-->



                            <li style="font-size: 25px" {% if not category %} class="selected"{% endif %}>
                                <!--all elements-->
                                <a class="d-flex" href="{% url 'shop:product_list' %}"><b><i>Barchasi</i></b></a>
                            </li>
                            {% for c in categories %}
                                <li style="font-size: 25px; "><b><i>
                                    <a class="d-flex" href="{{ c.get_absolute_url }}">{{ c.name }}</a></i></b>
                                </li>
                            {% endfor %}


                        </ul>
                    </div>


                </div>
            </div>


        </div>
    </div>

    <footer class="site-footer border-top">
        <div class="container">

            <div>
                <div style="text-align: center;">
                    <p>Copyright &copy; All rights reserved | This template is made by Zuxriddin</a>

                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>